html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 auto;	/* centering */
	padding: 0;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

#map {
	height: 100%;
	width: 100%;
}

#info {
	position: absolute;
	bottom: 25px;
	width: 100%;
	margin: 0 auto;	/* centering */
	border: 0;
	padding: 0;
	visibility: hidden;
}

#lat, #lng {
	width: 240px;
	margin: 0 auto;	/* centering */
	background-color: white;
	opacity: .7;
	visibility: hidden;
}
